@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

  html {
      font-size: 16px;
  }

  body {
      font-size: 1rem;
  }
}

a {
  color: #0F7661;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  color: white;
  height: 20%;
  padding: 20px;
}

.app-intro {
  padding-top: 1%;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.btn-success {
  background-color: #107E68;
  border-color: #107E68;
}

.form-control,
.form-control:focus,
.input-group-text {
  color: #212529;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
