.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  color: white;
  height: 20%;
  padding: 20px;
}

.app-intro {
  padding-top: 1%;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.form-control {
  font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
